.header {
  position: fixed;
  margin-top: 16px;
  width: 100%;
  z-index: 2;
  transition: 0.3s ease;
}

.header__bar {
  display: none;
  z-index: 99;
  @media (max-width: 991px) {
    display: block;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 991px) {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
    z-index: 99;
    transition:all 0.5s ease-out;
  }
}

.nav--desktop {
  @media (max-width: 991px) {
    display: none;
  }
}

.nav--mobile {
  display: none;
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }
}

.active-dots {
  position: relative;
  color: #2D3958;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: #34C635;
  }
}

.header__right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  @media (max-width: 991px) {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 20px;
    z-index: 99;
    transition:all 0.5s ease-out;
  }
}

.header__right-search {
  cursor: pointer;
}

.header__right-bag {
  cursor: pointer;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 60%;
    border-radius: 50%;
    background-color: red;
    border: 2px white solid;
    
  }
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding: 10px 0;
  margin: 0 auto;
  box-shadow: 0px 5px 6px -6px #999999;
  transition: 0.3s ease-in-out;
}

.show-menu {
  right: 0%;
  top: 0;
  overflow-y: scroll;
}

.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}