.office-box__position {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  width: 50%;
  padding: 60px 100px 40px 100px; 
  transition: 0.3 ease;
  z-index: 99;
  &:hover {
    transition: 0.3s ease;
    box-shadow: 0 60px 40px rgba(18, 2, 47, 0.1);
  }
  &:after {
    content: "";
    position: absolute;
    top: 180px;
    right: -70px;
    width: 60px;
    height: 60px;
    background-color: #ffc623;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
  }
}

.office-box__subtitle {
  color: #4F77FF;
  font-size: 18px;
  margin-bottom: 30px;  
}

.office-box__title {
  color: #2D3958;
  margin: 0 auto; 
}

.office-box__content {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 520px;
  font-size: 18px;
  font-family: "DM Sans";
  letter-spacing: -0.3px;
}

.office-box__link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  svg {
    margin-left: 10px;
  }
}

.office-box__nav {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.nav-items {
  width: 40px;
  height: 5px;
  border-radius: 20px;
  background-color: #E7E5EA;
  position: relative; 
}

.nav-items--active {
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4F77FF;
    border-radius: 20px;
  }
}