.subscribe {
  max-width: 870px;
  margin: 0 auto;
}

.subscribe__subtitle {
  padding-bottom: 30px;
}

.subscribe__title {
  color: #2D3958;
  line-height: 1.15;
  padding-bottom: 70px;
  span {
    color: #34C635;
  }
}

.subscribe__input {
  display: flex;
  justify-content: center;
  gap: 6px;
}